<div class="login">
  <mat-card>
    <form
      class="form"
      autocomplete="off">
      <mat-form-field class="form__field" >
        <input
          matInput
          placeholder="Correo electronico"
          type="email">
      </mat-form-field>
      <mat-form-field class="form__field" >
        <input
          matInput
          placeholder="Contraseña"
          type="password">
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        color="primary">
        Iniciar sesión
      </button>
    </form>
  </mat-card>
</div>